{
  "presets": [
    ["es2015"],
    ["es2015-ie"],
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "Chrome >= 56",
            "FireFox >= 51",
            "safari >= 7",
            "Explorer 11"
          ]
        }
      }
    ]
  ]
}
