@import "../request/request";
@import "../inner-wrapper/inner-wrapper";

@define-mixin header {
  .attic {
    @mixin wrapper;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: url('../images/head-bg.jpg');
    background-color: #93b7d0;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
      margin: 0;
      padding-bottom: 30px;
      border-bottom: 5px solid #fff;
      color: #fff;
      font-size: 32px;
    }
    &__text {
      margin: 30px 0;
      font-size: 18px;
      line-height: 24px;
    }
    @mixin request;

    @media (--desktop) {
      padding-bottom: 30px;
      @mixin inner-wrapper;
      .request {
        margin: 0;
      }
      &__title {
        font-size: 48px;
        display: inline-block;
        vertical-align: baseline;
      }
      &__text {
        max-width: 505px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
