@import "../ordered-item/ordered-item";
@import "../inner-wrapper/inner-wrapper";

@define-mixin ordered {
  .ordered {
    @mixin wrapper;
    background-color: #eee;
    &__title {
      display: none;
    }
    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
      counter-reset: item;
    }
    @mixin ordered-item;
    @media (--desktop) {
      @mixin inner-wrapper;
      padding-bottom: 95px;

      .inner-wrapper {
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        &:before {
          position: absolute;
          top: -30px;
          left: -50px;
          content: '';
          width: 503px;
          height: 491px;
          background-image: url('../images/mon.png');
        }
      }
      &__title {
        width: 490px;
        display: block;
        font-size: 48px;
        color: #48b;
      }
    }
  }
}
