@define-mixin posts-item {
  .posts-item {
    position: absolute;
    margin-bottom: 20px;
    position: relative;
    color: #fff;
    background-size: cover;
    overflow: hidden;
    &__wrapper {
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-right: 14px;
      background-color: rgba(68, 136, 187, 0.749);
    }
    &:last-of-type {
      margin-bottom: 0;
      &:after {
        position: absolute;
        bottom: 0;
        left: -10px;
        content: '';
        width: calc(100% + 20px);
        height: 95px;
        background-color: #eee;
        z-index: -2;
      }
    }
    &__title {
      margin: 0;
      font-size: 24px;
    }
    &__text {
      line-height: 18px;
      font-size: 14px;
    }
    &__more {
      position: absolute;
      top: 12px;
      right: 12px;
      height: 18px;
      width: 18px;
      background-image: url('../images/open.png');
    }
    &:nth-of-type(1) {
      background-image: url('../images/post-1.jpg');
    }
    &:nth-of-type(2) {
      background-image: url('../images/post-2.jpg');
    }
    &:nth-of-type(3) {
      background-image: url('../images/post-3.jpg');
    }
    &:nth-of-type(4) {
      background-image: url('../images/post-4.jpg');
    }
    &:nth-of-type(5) {
      background-image: url('../images/post-5.jpg');
    }
    @media (--desktop) {
      margin-bottom: 25px;
      flex-basis: calc(33%-10px);
      &:hover {
        .posts-item__wrapper {
          transform: translateY(0);
        }
      }
      &__wrapper {
        transform: translateY(calc(100% - 40px));
        transition: .4s all ease-out;
      }
      &:nth-of-type(1) {
        max-width: 390px;
        margin-right: 10px;
      }
      &:nth-of-type(2) {
        max-width: 390px;
        margin-right: 10px;
      }
      &:nth-of-type(3) {
        max-width: 390px;
      }
      &:nth-of-type(4) {
        max-width: 590px;
        margin-right: 10px;
        flex-basis: calc(50%-10px);
      }
      &:nth-of-type(5) {
        max-width: 590px;
        flex-basis: calc(50%-10px);
        &:after {
          content: normal;
        }
      }
    }
  }
}
