@import "../posts-item/posts-item";

@define-mixin posts {
  .posts {
    padding-top: 20px;
    @mixin wrapper;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    @mixin posts-item;
    @media (--desktop) {
      padding: 75px 0;
      max-width: 1190px;
      margin: 0 auto;
      &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }
    }
  }
}
